gwas/*
imputed/*
openSNP.bed
openSNP.bim
openSNP.fam
opensnp_2024_02_27.tar.gz
opensnp_genomeslist.tsv
pgs/*
phenotypes_202402180100.csv
qc/openSNP.c1.qc.bim
qc/openSNP.c1.qc.fam
qc/openSNP.c1.qc.bed
qc/openSNP.c3.qc.bed
qc/openSNP.c3.qc.bim
qc/openSNP.c3.qc.fam
qc/openSNP.c4.qc.bed
qc/openSNP.c4.qc.bim
qc/openSNP.c4.qc.fam
qc/openSNP.c5.qc.bed
qc/openSNP.c5.qc.bim
qc/openSNP.c5.qc.fam
qc/openSNP.v5.qc.bed
qc/openSNP.v5.qc.bim
qc/openSNP.v5.qc.fam
ukb_gwas/UKB_NEALELAB_2018_AMBIDEXT.GRCh37.hm3.gz
ukb_gwas/UKB_NEALELAB_2018_HAIR_BLACK.GRCh37.hm3.gz
ukb_gwas/UKB_NEALELAB_2018_HAIR_BLONDE.GRCh37.hm3.gz
ukb_gwas/UKB_NEALELAB_2018_HAIR_DARK_BROWN.GRCh37.hm3.gz
ukb_gwas/UKB_NEALELAB_2018_HEIGHT.GRCh37.hm3.gz
ukb_gwas/UKB_NEALELAB_2018_LEFTHAND.GRCh37.hm3.gz

